:root {
  --card-font-size: 1.3vh;
  --h1-font-size: 2vh;
  --h2-font-size: 1.5vh;
}
body{
  background-color: #41464b;
}
h1{
  background-color: lightgrey;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: bold;
}
h2{
  background-color: lightgrey;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: bold;
}
.btn{
  font-size: 1.3vh;
  font-weight: bold;
  margin: 0 5px;
}
.dropdown-item{
  font-size: 2vh;
}
.navbar-nav{
  flex-direction: row;
}
.nav-item{
  flex: 1;
  text-align: center;
  color: black;
  font-size: 1.5vh;
}
.loginForm{
  margin-top: 10px;
  margin-bottom: 10px;
}
.pendingDiv{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.stuffLists{
  margin: 5px 0px;
}
.toastsDiv{
  margin: 10px 0px;
}
.card{
  flex:auto;
  font-size: var(--card-font-size);
  font-weight: bold;
  margin: 3px 5px;
}
.cardContents{
  display: flex;
  flex-flow: row wrap;
}
.cardTimeLeft{
  flex: auto;
  text-align: end;
}
.late{
  color: red;
}
.list-group-item{
  flex: auto;
  padding: .3rem 1rem 0px;
  background-color: white;
}
.list-group{
  display: flex;
  flex-flow: row wrap;
}
.card-header{
  padding: 0rem 1rem;
  font-weight: bold;
  background-color: lightgray;
  text-align: center;
}
.progress {
  height: 0.25rem;
}
.toast{
  width: 100%;
  margin: 3px 5px;
  font-size: 1.5vh;
  flex: 1 0 43%;
}